<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Tool</title>
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style>
    span,
    textarea {
      font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimSun, sans-serif;
    }
  </style>
  <script>
    function formatter(text) {
      if (typeof text == 'object') {
        return vkbeautify.json(text, 2)
      }
      let out = text.replace(/^\s+|\s+$/g, "");
      if (out.length == 0)
        return text

      if (out[0] == '<')
        return vkbeautify.xml(out)
      else if (out[0] == '{' || out[0] == '[')
        return vkbeautify.json(out, 2)
    }

    function b64encode(text) {
      return Base64.encode(text)
    }

    function b64decode(text) {
      return Base64.decode(text);
    }

    function plist2json(text) {
      return vkbeautify.json(plist.parse(text), 2)
    }

    function json2plist(text) {
      return plist.build(text)
    }
  </script>

</head>

<body>
  <div id="app">
    <el-container>
      <el-main>
        <el-row :gutter="20">
          <el-col :span="12">
            <el-row>
              <el-col :span="2">
                <el-button type="text">{{left_type}}</el-button>
              </el-col>
              <el-col :span="22">
                <el-button-group>
                  <el-button v-for="option in left_options" :key="option.text" @click="operation('left', option)">{{option.text}}</el-button>
                </el-button-group>
              </el-col>
            </el-row>
            <div class="grid-content bg-purple">
              <el-input type="textarea" spellcheck="false" :autosize="{ minRows: 10, maxRows: 30 }" v-model="left_text" :change="check('left', left_text)"></el-input>
            </div>
          </el-col>

          <el-col :span="12">
            <el-row>
              <el-col :span="2">
                <el-button type="text">{{right_type}}</el-button>
              </el-col>
              <el-col :span="22">
                <el-button-group>
                  <el-button v-for="option in right_options" :key="option.text" @click="operation('right', option)">{{option.text}}</el-button>
                </el-button-group>
              </el-col>
              <div class="grid-content bg-purple-light">
                <el-input type="textarea" spellcheck="false" :autosize="{ minRows: 10, maxRows: 30 }" v-model=" right_text " :change="check('right', right_text) "></el-input>
              </div>
            </el-row>
          </el-col>
        </el-row>
      </el-main>
      <el-footer>
      </el-footer>
    </el-container>
  </div>

</body>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.js"></script>
<script src="https://unpkg.com/vue"></script>
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="./static/js/base64.js"></script>
<script src="./static/js/vkbeautify.js"></script>
<script src="./static/js/plist.js"></script>
<script>
  var Main = {
    data() {
      return {
        left_options: [],
        right_options: [],
        left_text: '',
        right_text: '',
        left_type: '纯文本',
        right_type: '纯文本',
        tb: {
          '纯文本': [{
            func: b64encode,
            text: 'base64编码'
          }, {
            func: b64decode,
            text: 'base64解码'
          }],
          'Json': [{
            func: formatter,
            text: '格式化',
            swap: false
          }, {
            func: json2plist,
            text: '转为plist'
          }, {
            func: b64encode,
            text: 'base64编码'
          }],
          'Xml': [{
            func: formatter,
            text: '格式化',
            swap: false
          }, {
            func: plist2json,
            text: 'plist转为json'
          }, {
            func: b64encode,
            text: 'base64编码'
          }]
        }
      };
    },
    methods: {
      operation(which, option) {
        var text = option.func(which == 'left' ? this.left_text : this.right_text)
        let swap = !(option.swap == false)
        if ((which == 'left' && !swap) || (which == 'right' && swap)) {
          this.left_text = text
        } else {
          this.right_text = text
        }
      },
      check(which, text) {
        let out = text.replace(/^\s+|\s+$/g, "");
        var text_type = '纯文本'
        try {
          if (out[0] == '<') {
            let xmlDoc = (new DOMParser()).parseFromString(out, "text/xml");
            if (xmlDoc.getElementsByTagName("parsererror").length > 0)
              throw 'Invalid Xml'
            text_type = 'Xml'
          } else if (out[0] == '{' || out[0] == '[') {
            vkbeautify.json(out)
            text_type = 'Json'
          }
        } catch (e) {
          text_type = '纯文本'
        }
        let options = this.tb[text_type]
        if (which == 'left') {
          this.left_type = text_type
          this.left_options = options
        } else {
          this.right_type = text_type
          this.right_options = options
        }
      }
    }
  };
  var Ctor = Vue.extend(Main)
  new Ctor().$mount('#app')
</script>

</html>