<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://unpkg.com/vue"></script>
</head>

<body>
  <div class="container" id="items">
    <ul class="nav nav-tabs" id="items">
      <li v-for="item in items">
        <a :href="'#'+item.id" data-toggle="tab">{{item.name}}</a>
      </li>
    </ul>
    <div class="tab-content">
      <div v-for="item in items" class="tab-pane" :id="item.id">
        <textarea id="input_text" name="input_text" class="form-control" spellcheck="false" :placeholder="item.name"></textarea>
      </div>
  </div>
  </div>


  <script>
    // import content from './content'
    new Vue({
      el: '#items',
      data: {
        items: [{
            name: 'Json/XML',
            id: 'jsxml'
          },
          {
            name: 'Base64',
            id: 'base64'
          }
        ]
      }
    })
  </script>

</body>

</html>